<%- include('../_partials/_header') %>
    <div>
        <h1>Projet - Partie 3/3 </h1>
        <h1>Réalisation d’une Interface Utilisateur </h1>
    </div>

    <div>
        <h2>Réalisé par :</h2>
        <ul>
            <li>Quentin KACZMAREK</li>
            <li>Julien SIBILLE</li>
        </ul>
    </div>

<%- include('../_partials/_footer') %>